<!DOCTYPE html>
<html>

<head>

<title>Employee Management System</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

<h1>Employee Management System</h1>

<p>DevOps End-To-End Project</p>

</div>

<div class="container">

<div class="card">

<h2>Welcome Vijaya Laxmi</h2>

<p>
This project demonstrates:
GitHub,
Jenkins,
Docker,
Kubernetes,
Prometheus,
Grafana
</p>

<a class="btn" href="/employees">
View Employees
</a>

</div>

</div>

</body>

</html>
